node_modules/*
public/user/*
public/fonts/*
*.js.map
*.js
*.css
.tscache
.vscode
.baseDir
!Gruntfile.js
!test/test.js
public/sample_players.json

public/sample_players.json.bak

public/sample_players.json

sample_players.json
